@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

html,body{
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  hyphens: auto;
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  color: #FFFFFF;
}
body {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 100vh;
  background: #232629;
  display: block;
}
.container{
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 1em;
  max-width: 1100px;
  display: block;
}
.hovercircle{
  padding: .3rem;
  border-radius: 50%;
  cursor: pointer;
}
.hovercircle:hover{
  animation: show 200ms ease-in;
  background: #aeaeaa2f;
}
.dgboh:hover{
  box-shadow: 0 0 2px #CC3E4A;
}
@keyframes show {
  from{
    background: #aeaeaa00;
  }
  to{
    background: #aeaeaa2f;
  }
}
@media only screen and (max-width: 900px) {
  .container{
    padding: 0 5%;
  }
}