.mainbanner{
    background: url('https://cdna.artstation.com/p/assets/images/images/025/752/592/large/joshua-golde-waben05.jpg?1586815577');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    display: block;
    text-align: center;
    padding: 5%;
}
.main .welcometxt{
    font-size: 3.3rem;
    font-weight: 600;
    mix-blend-mode: difference;
    color: #2396de;
    padding: 0 5%;
    animation: shine 2s linear;
}
@keyframes shine {
    
}