.mainbanner{
  /* background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #aeaeaa2f; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100%;
}
.welcometxt{
  width: 60%;
}
.welcometxt .hometxt{
  padding: 0 1.5em;
}
.hometxt .hhtext{
  margin-top: 1em;
  font-size: 24px;
  font-weight: 500;
}
.hometxt p{
  font-size: 20px;
}
.bannerRight{
  width: 40%;
}
.welcometxt svg{
  height: 80px;
  width: 400px;
}
.hometxt .decp{
  font-size: 18px;
  filter: opacity(0.9);
}
.welcometxt svg text {
  font-family: Arial, Helvetica, sans-serif;
  stroke: #2396de;
  font-size: 3em;
  font-weight: 700;
  fill: #f2f2f2;
  stroke-width: 2;
  animation: textAnimate alternate 7s infinite;
}
.social{
  margin-top: -1rem;
}
.social a{
  margin-right: 1em;
}
.social a:hover{
  filter: drop-shadow(0 2px 1px #2396dec4);
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:#e7e5e5;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill:#292c2e;
  }
}
@media only screen and (max-width: 900px) {
  .bannerRight{
    position: absolute;
    top: 0;
    width: 90%;
    z-index: inherit;
    filter: opacity(0.3);
  }
  .welcometxt{
    width: 100%;
    position: relative;
    z-index: 10;
  }
  .hometxt div{
    font-size: 26px;
    margin-bottom: 10px;
  }
  .welcometxt .hometxt p{
    font-size: 22px;
    float: left;
    margin-top: 1%;
  }
  .welcometxt svg {
    height: 100%;
    width: 100%;
  }
  .welcometxt svg text{
    font-size: 35px;
    stroke-width: 1;
  }
  .mainbanner{
    display: block;
    align-items: center;
  }
}

