.mainbanner{
    background: url('https://cdna.artstation.com/p/assets/images/images/025/752/592/large/joshua-golde-waben05.jpg?1586815577');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    text-align: center;
}
.welcometxt svg text {
    font-family: Arial, Helvetica, sans-serif;
    stroke: #2396de;
    font-size: 3em;
    font-weight: 700;
    stroke-width: 2;
    animation: textAnimate 5s infinite alternate;
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:#2396de;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill:#292c2e;
  }
}
@media only screen and (max-width: 900px) {
    .welcometxt svg text{
        font-size: 45px;
    }
  }

